@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --primary: #f0dde3;
  --secondary: #33262e;
  --accent: #ff6565;
}
::-moz-selection {
  color: var(--accent);
  background: var(--primary);
}
/* Code for Firefox */
::selection {
  color: var(--accent);
  background: var(--primary);
}
* {
  padding: 0px;
  margin: 0px;
  color: var(--secondary);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
