:root {
  --primary1: #f7f7f7;
  --primary2: #eeeeee;
  --primary3: #393e46;
  --secondary: #929aab;
  --accent: #f05454;
}
::-moz-selection {
  color: var(--primary2);
  background: var(--accent);
}
/* Code for Firefox */
::selection {
  color: var(--primary2);
  background: var(--accent);
}
* {
  padding: 0px;
  margin: 0px;
  color: var(--primary3);
  box-sizing: border-box;
}
